PORT=9000
MONGO_CONNECTION_STRING=mongodb://localhost:27017/bookmytheatre
MONGO_REPLICA_STRING=mongodb://localhost:27017/bookmytheatre
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=
HASH_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
FRONTEND_URL=
RAZORPAY_API_KEY=
RAZORPAY_SECRET_KEY=